{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Мои заказы</h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Номер заказа</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Сумма заказа</th>
                    <th scope="col">Детали заказа</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.created_at }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.total_price }} руб.</td>
                    <td><a href="{% url 'order:order_detail' order.id %}" class="btn btn-primary">Подробнее</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">У вас нет заказов</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
